{{!< default}}

{{> "header_nav" }}

{{#post}}





<main id="content" role="main">
    <!-- Article Description Section -->
    <div class="container space-top-3 mb-8 mb-lg-11">
        <div class="w-lg-60 mx-lg-auto">
            <div class="mb-4">
                <h1 class="h2">{{title}}</h1>
            </div>

                <div class="border-top border-bottom py-4 mb-5">
                    <div class="row align-items-md-center">
                        {{#primary_author}}
                            <div class="col-md-7 mb-5 mb-md-0">
                                <div class="media align-items-center">
                                    <div class="avatar avatar-circle">
                                        <img class="avatar-img" src="{{profile_image}}" alt="{{name}}">
                                    </div>
                                    <div class="media-body font-size-1 ml-3">
                                        <span class="h6"><a href="{{url}}">{{name}}</a> <a rel="nofollow" href="{{twitter_url}}" target="_blank" class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1">Follow</a></span>
                        {{/primary_author}}
                                        <span class="d-block text-muted"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time > <span class="bull">&bull;</span> {{reading_time}}</span>
                                    </div>
                                </div>
                            </div>

                        <div class="col-md-5">
                            <div class="d-flex justify-content-md-end align-items-center">
                                <span class="d-block small font-weight-bold text-cap mr-2">Share:</span>

                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="https://www.facebook.com/sharer/sharer.php?u={{encode url absolute="true"}}">
                                <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="https://twitter.com/intent/tweet?url={{encode url absolute="true"}}&text={{encode title}}">
                                <i class="fab fa-twitter"></i>
                                </a>
                                <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="mailto:?subject=Upload Blog%3A {{encode title}}&body={{encode title}}%0D%0A%0D%0A{{encode excerpt}}%0D%0A%0D%0A{{encode url absolute="true"}}">
                                <i class="fab fa-telegram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>

        <div class="article-content">
        {{content}}
        </div>

        <div class="w-lg-60 mx-lg-auto">
            <div class="card bg-img-hero bg-dark text-white text-center p-4 my-5 abstract-shape-1">
                <h4 class="text-white mb-3">Like what you're reading? Subscribe to our top stories.</h4>

                <!-- Form -->
                <form action="https://upload.us7.list-manage.com/subscribe/post?u=0496f6783586ddff17ba6b99e&amp;id=9e1a799abc" method="post" name="mc-embedded-subscribe-form" class="w-md-75 mx-md-auto" target="_blank">
                    <div class="js-form-message">
                        <div class="d-flex align-items-center">
                                <label class="sr-only" for="subscribeSrArticle">Subscribe</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" id="subscribeSrArticle" name="EMAIL" placeholder="Your email" aria-label="Your email" required
                                           data-msg="Please enter a valid email address.">
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0496f6783586ddff17ba6b99e_9e1a799abc" tabindex="-1" value=""></div>
                                <input type="submit" value="Subscribe" name="subscribe" class="btn btn-light ml-3">
                        </div>
                    </div>
                </form>
                <!-- End Form -->
            </div>

            <p>We hope you enjoyed this article; if you have any questions or suggestions, please reach out to us!</p>

            <p>Follow us on <a href="https://twitter.com/UploadHQ">Twitter</a> and <a href="https://www.facebook.com/UploadHQ">Facebook</a>.</p>

            <!-- Badges -->
            <div class="mt-5">
                {{#foreach tags}}
                    <a class="btn btn-xs btn-soft-secondary mb-1" href="{{url}}">{{name}}</a>
                {{/foreach}}
            </div>
            <!-- End Badges -->

            <!-- Share -->
            <div class="row justify-content-sm-between align-items-sm-center mt-5">
                <div class="col-sm-6 mb-2 mb-sm-0">
                    <div class="d-flex align-items-center">
                        <span class="d-block small font-weight-bold text-cap mr-2">Share:</span>

                        <a rel="nofollow" class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="https://www.facebook.com/sharer/sharer.php?u={{encode url absolute="true"}}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a rel="nofollow" class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="https://twitter.com/intent/tweet?url={{encode url absolute="true"}}&text={{encode title}}">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a rel="nofollow" class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="mailto:?subject=Upload Blog%3A {{encode title}}&body={{encode title}}%0D%0A%0D%0A{{encode excerpt}}%0D%0A%0D%0A{{encode url absolute="true"}}">
                            <i class="fab fa-telegram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Share -->

            {{#primary_author}}
            <div class="media align-items-center border-top border-bottom py-5 mt-8">
                <div class="avatar avatar-circle avatar-xl">
                    <img class="avatar-img" src="{{profile_image}}" alt="{{name}}">
                </div>
                <div class="media-body ml-3">
                    <small class="d-block small font-weight-bold text-cap">Written by</small>
                    <h3 class="mb-0"><a href="{{url}}">{{name}}</a> <a rel="nofollow" href="{{twitter_url}}" target="_blank" class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1">Follow</a></h3>
                    {{#if bio}}
                        <p class="mb-0">{{bio}}</p>
                    {{/if}}
                </div>
            </div>
            {{/primary_author}}

        </div>
    </div>
    <!-- End Article Description Section -->

    {{#get "posts" include="tags,authors" limit="4" filter="id:-{{id}}+tag:{{primary_tag.slug}}" as |related|}}
        {{#if related}}
        <div class="container mb-8 mb-lg-11">
            <div class="w-lg-75 mx-lg-auto">
                <div class="mb-3 mb-sm-5">
                    <h3>Related stories</h3>
                </div>
                <div class="row">
        {{/if}}
        {{#foreach related}}
                <div class="col-md-6">
                    <article class="border-bottom h-100 py-5">
                        <div class="row justify-content-between">
                            <div class="col-6">
                                {{#primary_tag}}
                                    <a class="d-block small font-weight-bold text-cap mb-2" href="{{url}}">{{name}}</a>
                                {{/primary_tag}}
                                <h4 class="mb-0">
                                    <a class="text-inherit" href="{{url}}">{{title}}</a>
                                </h4>
                            </div>
                            <div class="col-5">
                                <img class="img-fluid rounded" src="{{img_url feature_image size="s"}}" alt="{{title}}">
                            </div>
                        </div>
                    </article>
                </div>
        {{/foreach}}
        {{#if related}}
                </div>
            </div>
        </div>
        {{/if}}
    {{/get}}


    <!-- Subscribe Section -->
    <div class="container space-bottom-2 space-bottom-lg-3">
        <!-- Title -->
        <div class="w-md-60 text-center mx-auto mb-7">
            <h2>Stay in the know</h2>
            <p>Get new posts from the Upload Blog delivered straight to your inbox.</p>
        </div>
        <!-- End Title -->

        <div class="w-lg-40 mx-lg-auto">
            <!-- Form -->
            <form action="https://upload.us7.list-manage.com/subscribe/post?u=0496f6783586ddff17ba6b99e&amp;id=9e1a799abc" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <div class="form-row">
                    <div class="col-sm col-md-6 col-lg mb-2">
                        <div class="js-form-message">
                            <label class="sr-only" for="signupSrEmail">Your email</label>
                            <div class="input-group">
                                <input type="email" class="form-control" name="EMAIL" id="signupSrEmail" placeholder="Your email" aria-label="Your email" required
                                       data-msg="Please enter a valid email address.">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-auto">
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0496f6783586ddff17ba6b99e_9e1a799abc" tabindex="-1" value=""></div>
                        <input type="submit" value="Subscribe" name="subscribe" class="btn btn-primary btn-block">
                    </div>
                </div>
            </form>
            <!-- End Form -->
        </div>
    </div>
    <!-- End Subscribe Section -->
</main>

{{/post}}
